header {
    text-align: center;
    background-color: white;
}
.date {
    text-align: center;
}
body {
    font-family: 'Source Sans Pro', sans-serif;    
    font-size: 20px;
    background-color: white;
    text-align: left;
  }

.propic {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    text-align: center;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about {
    margin-left: 100px;
    margin-right: 100px;
    width: 70vw;
    height: 40vh;
}
.about-me {
    text-indent: 40px;
}
.honors {
    margin-left: 100px;
    margin-right: 100px;
    width: 70vw;
    height: 40vh;
}

.experience {
    margin-left: 100px;
    margin-right: 100px;
    width: 70vw;
    height: 40vh;
}
.projects {
    margin-left: 100px;
    margin-right: 100px;
    width: 70vw;
    height: 40vh;
}
h3 {
    text-align: center;
}

.fun {
    margin: auto;
    text-align: left;
    width: 70vw;
}
.links {
    margin-top: 50pt;
    text-align: center;
}
.fa {
    font-size: 120px;
    width: 40px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 7px 7px;
  }
.fa-envelope {
    color: gray;
}
.fa-soundcloud {
    color: gray;
}
.fa-facebook {
    color: gray;
}
.fa-linkedin {
    color: gray;
}
.fa-github {
    color: gray;
}
